{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "emotion",
      {
        "sourceMap": false
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ]
}
